.feed__container {
  margin-top: 9rem;
}

.feed__body {
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
}

.feed__body--left {
  padding-right: 1rem;
}

.feed__body--center {
  background-color: orange;
}

.feed__body--right {
  background-color: orangered;
}
