.feed-user-details {
  background-color: #fff;
  padding-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 8px solid var(--color-primary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.feed-user-details__cover-photo {
  height: 15rem;
}

.feed-user-details__cover-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.feed-user-details__user {
  display: flex;
  align-items: center;
  transform: translateY(-28px);
  padding: 0 1rem;
}

.feed-user-details__image {
  --size: 8rem;
  width: var(--size);
  height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  border-radius: 50%;
  margin-right: 2rem;
  /* border: 5px solid #f3f2ef; */
  border: 5px solid #fff;
}

.feed-user-details__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.user-details__full-name {
  text-transform: capitalize;
  color: #fff;
  padding: 0.1rem;
  background-color: var(--color-primary);
  margin-bottom: 0;
  border-radius: 3px;
}

.user-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
}

.user-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-stat--type {
  font-weight: bold;
}
